*{margin: 0;
    padding: 0;
}
body{
    background-color:black;
}

h1{
    color: aqua;
    text-align: center;
    position: relative;
    top: 20px;
}

.game{
    height: 60vmin;
    width: 60vmin;
    text-align: center;
    margin: 50px 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;


}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: red;
    font-size: 80px;

}


#newbtn{
    color: black;
    background-color: aqua;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
    width: 80px;
    height: 30;
    margin-left: 600px;
    border-radius: 5px;
    transition: 0.3s;


}
#newbtn:hover{
    transform: translateY(-7px);
    background-color: rgba(0, 255, 255, 0.616);
}
